version: '3'
services:
  backend:
    build: .
    restart: always
    environment:
      - DATABASE_URL=${DOCKER_DATABASE_URL}
      - PORT=5500
    depends_on:
      - db

  frontend:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      # Mount Let's Encrypt certificates from host
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: always

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
